{% extends 'test-dashboard.html' %}


<!--Page Title Block-->
{% block pagetitle %}
Agency Logging
{% endblock %}
<!-- End of Page Title BLock-->


<!--Title Block-->
{% block title %}
Agency Logging
{% endblock %}
<!--End of Title Block-->

{% block body %}

<div class="container-fulid">
    <div class="row">
        <div class="col-3 ml-2">
            <div class="card">
                <h5 class="card-header">Agency Tool Data</h5>
                <div class="card-body">
                       <div class="form-row">
                           <form action="{{url_for('agencyapp.agency_tools')}}" method="POST" class=" justify-content-end">
                                <label for="date">Select Date:</label>
                                <div class=" form-inline">
                                    <input id="date" type="date" class="form-control" name="date">
                                    <input class="ml-3 btn btn-sm btn-primary" type="submit">
                                </div>
                               
                           </form>
                       </div>
                </div>
            </div>
        </div>

        <div class="col ml-2 ">
            <div class="card">
                <h5 class="card-header">Agency Timesheet</h5>
                <div class="card-body">
                    <table id="agencytable" class="table table-sm">
                        <thead class="thead">
                            <tr>
                                <th>#</th>
                                <th>Order No</th>
                                <th>Agency Name</th>
                                <th>WorkType</th>
                                <th>Name</th>
                                <th>Supervisor</th>
                                <th>Location</th>
                                
                                <th>In Time</th>
                                <th>Out Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in log %}  
                            <tr id="data{{l.al_id}}">
                                <td></td>
                                <td>{{l.order}}</td>
                                <td>{{l.agenm.agency_name}} </td>
                                <td>{{l.wtyp.work_type}}</td>
                                <td>{{l.contact_person}}+ {{l.manpower}}</td>
                                <td>{{l.superm.supervisor_name}}</td>
                                <td>{{l.locationm.location_name}}</td>
                                <td>{{l.in_time}}</td>
                                <td>{{l.out_time}}</td>
                                <td><button id="toolbtn{{l.al_id}}" data-toggle="modal" data-target="#toolmodal" class="toolbtn btn btn-sm btn-warning" attributes="{{l.al_id}}">Add Tool</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal" tabindex="-1" role="dialog" id="toolmodal">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Add Tools</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                             <form>
                                 <div class="form-group">
                                     <input id="hiddentool" type="hidden" value="">
                                    <label>Add Tools</label>
                                    <input id="tooltext" type="text">
                                    
                                 </div>
                             </form>
                            </div>
                            <div class="modal-footer">
                              <button id="toolmodalbtn" type="button" class="btn btn-primary">Save changes</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('.toolbtn').on('click', function(){
            var id = $(this).attr('attributes');
            $('#hiddentool').val(id)

        });

        $('#toolmodalbtn').on('click', function(){
            var id = $('#hiddentool').val()
            var text = $('#tooltext').val()
            req = $.ajax({
                url: '/UpdateTools',
                type : 'POST',
                data : {log_id:id, tool_text:text}
            });
        });
       
    });
</script>


{% endblock %}